body{
    background-color: #fff1a0;
    color: #ffb039;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: #ffb039;
    border-style: none;
    color: #fff1a0;
}
